input[name="page-length-option_length"] {
    display: block !important;
    border: solid black 1px !important;
}

th,
td {
    text-align: center;
    border: 1px black solid;
    padding: 8px;
}

th {
    color: black;
}

td {
    color: black;
}

input {
    color: #000000 !important;
    border: 1px black solid!important;
    /* background: #0000001c!important; */
    border-radius: 1rem!important;
    padding-left: 2%!important;
    margin-right: 20px!important;
    width: 100%!important;
}

textarea {
    color: #2667ff !important;
    border: 1px black solid!important;
    background: #2667ff1c!important;
    border-radius: 1rem!important;
    padding-left: 23px!important;
    margin-right: 20px!important;
}

.br-1 {
    border-radius: 1rem!important;
}

hr {
    border-bottom: 1px black solid!important;
    opacity: initial!important;
}


/* 
img {
    max-width: 280px;
    margin-top: 10px;
} */

.fileupload {
    padding: 10px;
    margin: 10px 0 0 40px;
}

label {
    color: black !important;
    margin-left: 12px !important;
}

select {
    color: #2667ff !important;
}

.heading {
    font-weight: bold;
    color: #2667ff;
    text-transform: uppercase;
    font-family: auto;
    font-size: x-large;
    margin: 20px 0 15px 40px;
    text-decoration-line: underline;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0f0f0f;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #0f0f0f;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #0f0f0f;
}

.edit {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

.delete {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
}

.submit {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

.submit-1 {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.sidenav .navigation-header .navigation-header-text {
    font-size: .85rem;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    margin: 0;
    padding: 0 !important;
    color: #515aa5 !important;
}

.sidenav .navigation-header .navigation-header-text:hover {
    background-color: transparent !important;
}

.red1 {
    color: #f99f24!important;
}

.black {
    background-color: #0f0d0d!important;
}

.scrollbar {
    margin-left: 23px;
    height: auto;
    overflow-y: scroll;
    margin-bottom: 25px;
    margin-right: 10px;
    max-height: 390px;
}


/* 
.force-overflow {
  min-height: 150px;
}
.scrollbar-morpheus-den::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
 
  border-radius: 10px; }

.scrollbar-morpheus-den::-webkit-scrollbar {  
  width: 12px; }

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2667ff ), to(#f99f24));
  background-image: -webkit-linear-gradient(bottom, #2667ff 0%, #f99f24 100%);
  background-image: linear-gradient(to top, #2667ff 0%, #f99f24 100%); }

.scrollbar-morpheus-den {
  scrollbar-color: #f99f24 ;
  }

   */

.grade {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #f99f24 74%);
}

.collapsible-body {
    color: #ffffff !important;
}

.card-titles {
    padding: 12px;
    margin: -24px 0 24px -24px!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black !important;
    margin: 0 0 10px 20px;
}

.discrip {
    height: 165px;
    font-size: 20px;
    resize: none;
    padding-top: 10px;
}

.blog {
    height: 285px;
    font-size: 20px;
    resize: none;
    padding-top: 10px;
}

.normalheading {
    padding: 12px;
    color: black !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.sidee {
    background-color: #2B2B52;
}

.username {
    text-transform: uppercase;
    margin: 1%;
    font-size: 35px;
    font-family: initial;
}

.profile {
    font-family: initial;
    text-transform: capitalize;
    font-size: 35px;
    margin: 2%;
}

.m-2 {
    margin: 2% !important
}

.shopimage {
    background-image: url('../../app-assets/images/shop.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.blogimage {
    background-image: url('../../app-assets/images/blog.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.search {
    color: #000000 !important;
    background: #0000001c!important;
    padding: 5px 15px 15px 15px;
    margin: 0 0 0 -25px;
    border: 1px black solid!important;
}